@charset "utf-8";

@media screen
and (min-device-width : 320px)
and (max-device-width : 800px) {
/* 	로딩바 수정 */
	.phones_loadingbar{    top: 30% !important;left: 25% !important;}
	.phones_now_loading{left:0px !important;}
	.phones_login{width:80% !important;padding-top: 5px !important;}
	.phones_login_box{width:100% !important;}
	.phones_mngInputTag{width:45% !important;}










}
